@tailwind base;
@tailwind components;
@tailwind utilities;


  /* Customize the scrollbar for Webkit-based browsers (Chrome, Safari) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the entire scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Optional: add rounded corners */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Optional: add rounded corners */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovering over the scrollbar thumb */
  }
  .custom-scrollbar::-webkit-scrollbar-button {
    display: none; /* Remove the top and bottom scroll arrows */
  }

  /* Customize the scrollbar for Firefox */
  .custom-scrollbar {
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Color of the scrollbar thumb and track */
  }

  .custom-scrollbar:hover {
    scrollbar-color: #555 #f1f1f1; /* Color when hovering over the scrollbar */
  }
  .custom-select option {
    padding: 10px 0; 
    height: 140px;
  }
  